@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Profile Page";
    Layout = "~/Views/Shared/_My_Layout.cshtml";
}



<div class="profile_parent container">

    <div class="left_profile">
        <div class="profile_section">
            <div class="background_image bordered_section">
                <div class="profile_picture">

                </div>
                <a href="" class="edit_section"><i class="fas fa-edit"></i></a>

            </div>

            <div class="info bordered_section">
                <div class="left_info padded_section">
                    <h2 id="account_name">Name</h2>
                    <h3 id="account_position">position</h3>
                    <p id="account_country">Country</p>
                    <div class="left_info_buttons">
                        <button class="btn1">Add Profile Section</button>
                        <button class="btn2">More...</button>
                    </div>
                </div>
                <div class="right_info padded_section">
                    <h3>school</h3>
                    <h3>university</h3>
                    <h3>See Contact info</h3>
                    <h3>See connections</h3>
                </div>
                <div style="clear:both"></div>
                <div class="padded_section seprator">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus ratione quis iste recusandae
                        quasi, voluptatibus vitae officiis blanditiis reprehenderit sunt accusantium quibusdam. Suscipit ut
                        recusandae, dolorem a itaque placeat!
                    </p>
                </div>
            </div>

        </div>

        <div class="experience_education">
            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header">Experience</h3>
                    <i class="fas fa-plus"></i>
                </div>
                <div class="experience_education_section">
                    <div class="experience_education_section_image"></div>
                    <div class="experience_education_section_content">

                        <div class="experience_education_section_context">
                            <h3>civil engineering inforamtics</h3>
                            <p>information technology institte</p>
                            <p>smart village</p>
                        </div>
                        <div class="experience_education_section_edit"> <i class="fas fa-edit"></i></div>
                    </div>
                </div>
            </div>

            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header">Education</h3>
                    <i class="fas fa-plus"></i>
                </div>
                <div class="experience_education_section">
                    <div class="experience_education_section_image"></div>
                    <div class="experience_education_section_content">

                        <div class="experience_education_section_context">
                            <h3>civil engineering inforamtics</h3>
                            <p>information technology institte</p>
                            <p>smart village</p>
                        </div>
                        <div class="experience_education_section_edit"> <i class="fas fa-edit"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="Skills_Endorsements">
            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header"> Skills & Endorsements </h3>
                    <i class="fas fa-edit Skills_Endorsements_icons"></i>
                    <i class="fas fa-plus"></i>
                </div>

                <div>
                    <h3 class="skill_heading">Skill 1</h3>
                    <p>endorsements</p>
                </div>

            </div>

        </div>

        <div class="Accomplishments">
            <div class="exp">
                <div class="experience_education_heading">
                    <h3 class="experience_education_heading_header"> Accomplishments </h3>
                    <i class="fas fa-plus"></i>
                </div>

                <div class="Accomplishments_section">
                    <div class="Accomplishments_label">2</div>
                    <div class="Accomplishments_content">
                        <p class="skill_heading">Accomplishment 1</p>
                        <p>endorsements</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="Interests">
            <h3>Interests</h3>
            <div class="interest">
                <div class="Interests_image">

                </div>
                <h2>Zamil Steel</h2>
                <p>3315 followers</p>
            </div>
            <div class="interest">
                <div class="Interests_image">

                </div>
                <h2>Zamil Steel</h2>
                <p>3315 followers</p>
            </div>


        </div>

    </div>
    <div class="right_profile">
        right
    </div>
</div>


<footer>
    <div class="container">

        <p class="footer_label">Linked<span>in</span></p>
        <div class="footer_links">
            <div class="left_profile">
                <p class="footer_link"><a href="">About</a></p>
                <p class="footer_link"><a href="">Talent Solution</a></p>
                <p class="footer_link"><a href="">Community Guidlines</a></p>

                <p class="footer_link"><a href="">Careers</a></p>
                <p class="footer_link"><a href="">Marketing Solution</a></p>
                <p class="footer_link"><a href="">Privacy & Terms</a></p>

                <p class="footer_link"><a href="">Advertising</a></p>
                <p class="footer_link"><a href="">Sales Solution</a></p>
                <p class="footer_link"><a href="">Send Feedback</a></p>

                <p class="footer_link"><a href="">Mobile</a></p>
                <p class="footer_link"><a href="">Small Business</a></p>
                <p class="footer_link"><a href="">Saftey Center</a></p>
            </div>

            <div class="right_profile">
                <div>
                    <i></i>
                    <h3>Questions?</h3>
                    <p>Visit our Help Center.</p>
                </div>

                <div class="quest">
                    <i></i>
                    <h3>Manage your account and privacy.</h3>
                    <p>Go to your Settings..</p>
                </div>
            </div>
        </div>
        <p class="copyrights">LinkedIn Corporation © 2019</p>
    </div>

</footer>

